.content-container {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 15px;
  padding: 25px;
}

.table-container {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  padding: 1em 2em;
  text-align: center;
}

.options-wrapper {
  display: flex;
}
