@import "../../../styles/variables";

.nav-root {
  position: sticky;
  top: 0;
  z-index: 11;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(#1e2836, #19222d);
  color: white;
  height: 10vh;
  padding: 0 20px;
  justify-content: space-around;
}

.nav-links-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s ease;
  margin-top: 15px;

  a {
    font-size: 1.2em;
    color: white;
    letter-spacing: 1px;

    &:visited {
      color: white;
    }
  }
}

@media only screen and (max-width: $media-query-tablet) {
  .nav-root {
    justify-content: space-between;
  }

  .nav-links-container {
    position: absolute;
    left: 0;
    top: 7vh;
    width: 100%;
    background: linear-gradient(#1e2836, #19222d);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: auto;
  }

  .nav-links-hide {
    z-index: -1;
    opacity: 0;
    transform: translateY(-100%);
  }

  .nav-links-show {
    transform: translateY(0);
    opacity: 100%;
  }
}
