<div class="root-container background-container">
  <div class="details-container">
    <div>
      <h1 class="main-heading">Supplier Finance System</h1>
    </div>
    <p class="secondary-content">
      "Want to become a part of cooperative banking network? It's easier than you think. We provide automated transaction system for your business. Make your business smart, we do the rest!"
    </p>
    <button class="get-started-button" mat-flat-button routerLink="sign-up">
      Get Started
    </button>
  </div>
</div>
