<div class="root-container">
  <div class="bg-container">
    <img src="./assets/Images/home_bg.jpg" />
  </div>
  <div class="title-container">
    <h1>Bank Delta</h1>
    <h2>Supplier Finance System</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
      reiciendis vero. Aut consectetur dolore, doloribus ex harum nobis porro
      recusandae! A delectus deleniti distinctio, dolore ex nam qui sunt ut.
    </p>
    <div class="button-container">
      <div>Login</div>
      <div>Sign Up</div>
    </div>
  </div>
</div>
