<div class="root-container background-container">
  <div class="details-container">
    <div>
      <h1 class="main-heading">Supplier Finance System</h1>
    </div>
    <p class="secondary-content">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias
      architecto, commodi cumque deleniti dolore, doloremque error ex illo
      incidunt mollitia odio quidem quos ratione, repudiandae rerum similique
      voluptas! Dolorum!"
    </p>
    <button class="get-started-button" mat-flat-button routerLink="sign-up">
      Get Started
    </button>
  </div>
</div>
