.root-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.background-container {
  background: linear-gradient(0deg, rgba(12, 12, 12, 0.6), rgba(3, 3, 3, 0.8)),
    url("../../assets/Images/home-bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-origin: border-box;
}

.details-container {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transform: translate(-70%, -50%);
}

.main-heading {
  color: #d2d0d0;
  font-weight: bolder;
  font-size: 4.5em;
  line-height: 1em;
}

.secondary-content {
  font-style: italic;
  color: #aaa9a9;
  font-size: 1.2em;
  text-align: justify;
}

.get-started-button {
  margin-top: 30px;
  font-size: 1.8em;
  border-radius: 15px;
  padding: 20px 15px;
  max-width: 200px;
  background: #1e1ea0;
  color: white;
}

@media only screen and (max-width: 768px) {
  .details-container {
    width: 80%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 599px) {
  .details-container {
    width: 80%;
    transform: translate(-50%, -50%);
  }

  .main-heading {
    margin-bottom: 40px;
  }
}
