<div [formGroup]="userAccountForm" class="form">
  <div *ngIf="!isAccountHas">
    <h2>Find Your Account</h2>
    <hr />
    <div class="form-group">
      <p>Please enter your userId to search for your account.</p>
      <input type="email" placeholder="Enter userId" formControlName="userId" />
      <mat-card class="mat-elevation-z0 outline w-100" *ngIf="errorMessages">
        <div class="mat-card-warning">
          <mat-icon>error_outline</mat-icon>
          <mat-label>{{ errorMessages }}</mat-label>
        </div>
      </mat-card>
    </div>
    <hr />
    <button
      type="button"
      class="button"
      data-toggle="modal"
      data-target="#modal-password"
      (click)="searchAccount()"
    >
      <mat-spinner *ngIf="getOtpLoading" [diameter]="20"></mat-spinner>
      <span *ngIf="!getOtpLoading">Search</span>
    </button>
  </div>
  <div *ngIf="otpMessage && isAccountHas" class="otp-message">
    {{ otpMessage }}
  </div>
  <div *ngIf="isAccountHas">
    <div [formGroup]="userAccountForm" class="modal-body">
      <div>
        <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Enter your OTP</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your OTP"
                  formControlName="otp"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Enter your New Password</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your New Password"
                  formControlName="password"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Enter your Confirm Password</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your Confirm Password"
                  formControlName="confirm_password"
                />
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <button
              type="submit"
              class="form-control btn btn-success"
              (click)="onSubmitButtonClick()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-default"
        (click)="isAccountHas = !isAccountHas"
      >
        Close
      </button>
    </div>
  </div>
</div>
