
<div class="form">
    <h2>Find Your Account</h2>
    <hr>
    <div class="form-group">
        <br>
      <p>Please enter your email address  to search for your account.</p>
      <input type="email"   placeholder="Enter email">
    </div>
    <br>
    <hr>
    <button type="button" class="button" data-toggle="modal" data-target="#myModal" >Search</button>
  </div>

  <!-- Password reset Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
      </div>
      <div class="modal-body">
        
<div>   
  <form>
      <div class="row">
          <div class="col-sm-12">
              <div class="form-group">
                <label>Enter your OTP</label>
              <input type="text"  class="form-control" placeholder="Enter your OTP" name="otp" />
              </div>
            </div>
      </div>
  
      <div class="row">
         
        <div class="col-sm-12">
          <div class="form-group">
            <label>Enter your New Password</label>
          <input type="text"  class="form-control" placeholder="Enter your New Password" name="new_password"/>
          </div>
      </div>
      </div>
  
      <div class="row">
      
        <div class="col-sm-12">
          <div class="form-group">
            <label>Enter your Confirm Password</label>
          <input type="text"  class="form-control" placeholder="Enter your Confirm Password" name="new_confirm_password"/>
          </div>
      </div>
      </div>
  
      
      <div class="form-outline mb-4">
          <button type="submit"class="form-control btn btn-success">Submit</button>
      </div>
      
  </form>
  
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>

  </div>
</div>