<div class="main-container">
  <div class="content-container">
    <h1>Select Account Type</h1>
    <div class="radio-card">
      <label for="1">
        <input [(ngModel)]="accountType" value="/sign-up/client" id="1" name="account" type="radio">
        <h2>Client</h2>
        <div class="character">
          <img src="../../../assets/Images/Client.png" alt="Client">
        </div>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </label>
      <label for="2">
        <input [(ngModel)]="accountType" value="/sign-up/supplier" id="2" name="account" type="radio">
        <h2>Supplier</h2>
        <div class="character">
          <img src="../../../assets/Images/Supplier.png" alt="Supplier">
        </div>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </label>
    </div>
    <div class="next-button">
      <button mat-flat-button [class]="!accountType?  '' : 'active-class' " [disabled]="!accountType"
              [routerLink]="accountType">Next
      </button>
    </div>
  </div>
</div>
