@import "../../../../styles/variables";

.burger-menu {
  display: none;
  cursor: pointer;

  svg {
    width: 25px;
    height: 25px;

    path {
      fill: $secondary-color;
    }
  }
}

@media only screen and (max-width: $media-query-tablet) {
  .burger-menu {
    display: block;
  }
}
