<div class="main-container">
  <div class="content-container">
    <app-form-header [pageNumber]="pageNumber" formName="Client Registration">
    </app-form-header>
    <div [ngSwitch]="pageNumber" class="form-container">
      <section *ngSwitchCase="1">
        <app-user-data-form
          (formSubmitEvent)="submitUserData($event)"
        ></app-user-data-form>
      </section>
      <section *ngSwitchCase="2">
        <app-personal-data-form
          (formSubmitEvent)="submitPersonalData($event)"
          [goBack]="gotoPreviousPage"
        ></app-personal-data-form>
      </section>
      <section *ngSwitchCase="3">
        <app-client-bank-acc-details
          (signUpEvent)="register()"
          [goBack]="gotoPreviousPage"
        ></app-client-bank-acc-details>
      </section>
      <section *ngSwitchCase="4">
        <app-success-feedback></app-success-feedback>
      </section>
    </div>
  </div>
</div>
