<div class="main-container">
  <div class="content-container">
    <h1>Select Account Type</h1>
    <div class="radio-card">
      <app-user-type-button
        accountType="Client"
        imagePath="../../assets/Images/Client.png"
        routePath="/sign-up/client"
      >
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </app-user-type-button>
      <app-user-type-button
        accountType="Supplier"
        imagePath="../../assets/Images/Supplier.png"
        routePath="/sign-up/supplier"
      >
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </app-user-type-button>
    </div>
  </div>
</div>
