<div class="main-container">
  <div class="header-section">
    <h1>Supplier Registration</h1>
  </div>
  <div class="form-container" [ngSwitch]="pageNumber">
    <section *ngSwitchCase="1">
      <div class="double-input-container">
          <mat-form-field appearance="outline" class="left-input-field">
            <mat-label>First Name</mat-label>
            <input matInput minlength="3" maxlength="30" [(ngModel)]="clientDetails.firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput minlength="3" maxlength="30" [(ngModel)]="clientDetails.lastName">
          </mat-form-field>
      </div>
      <div class="full-width-field-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput maxlength="255" [(ngModel)]="clientDetails.email">
        </mat-form-field>
      </div>
      <div class="full-width-field-container">
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input matInput maxlength="10" [(ngModel)]="clientDetails.mobileNumber">
        </mat-form-field>
      </div>
      <div class="full-width-field-container">
        <mat-form-field appearance="outline">
          <mat-label>Address Line1</mat-label>
          <input matInput maxlength="225" [(ngModel)]="clientDetails.addressLine1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="left-input-field">
          <mat-label>City</mat-label>
          <input matInput maxlength="255" [(ngModel)]="clientDetails.city">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <input matInput maxlength="255" [(ngModel)]="clientDetails.state">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="left-input-field">
          <mat-label>Province</mat-label>
          <input matInput maxlength="255" [(ngModel)]="clientDetails.province">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput maxlength="255" [(ngModel)]="clientDetails.country">
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button (click)="goToNextPage()">Next</button>
      </div>
    </section>
    <section *ngSwitchCase="2">
      <div class="full-width-field2-container">
        <mat-form-field appearance="outline">
          <mat-label>Credit Account Number</mat-label>
          <input matInput maxlength="255" [(ngModel)]="supplierAccDetail.creditAccNumber">
        </mat-form-field>
      </div>
      <div class="full-width-field2-container">
        <mat-form-field appearance="outline">
          <mat-label>Bank Code</mat-label>
          <input matInput maxlength="255">
        </mat-form-field>
      </div>
      <div class="full-width-field2-container">
        <mat-form-field appearance="outline">
          <mat-label>Supplier Limit</mat-label>
          <input matInput maxlength="255">
        </mat-form-field>
      </div>
      <div class="full-width-field2-container">
        <mat-form-field appearance="outline">
          <mat-label>Invoice Payment</mat-label>
          <input matInput maxlength="255">
        </mat-form-field>
      </div>
      <div class="button-container">
        <div>
          <button mat-flat-button (click)="goToPreviousPage()">Previous</button>
        </div>
        <div>
          <button mat-flat-button>Finish</button>
        </div>
      </div>
    </section>
  </div>
</div>

