<div class="main-container">
  <div class="content-container">
    <h1>What type of a user are you?</h1>
    <div class="radio-card">
      <app-user-type-button
        accountType="A Client"
        imagePath="../../assets/Images/Client.png"
        routePath="/sign-up/client"
      >
        <ul>
          <li>Upload invoices with easy steps.</li>
          <li>Provide secure transaction process.</li>
          <li>Automate invoices processes.</li>
          <li>Accessibility to previous invoices.</li>
        </ul>
      </app-user-type-button>
      <app-user-type-button
        accountType="A Supplier"
        imagePath="../../assets/Images/Supplier.png"
        routePath="/sign-up/supplier"
      >
        <ul>
          <li>Helps to keep track on transactions.</li>
          <li>Provide secure transaction process.</li>
          <li>Able to direct request payments.</li>
          <li>Accessibility to previous invoices.</li>
        </ul>
      </app-user-type-button>
    </div>
  </div>
</div>
