@import "../../styles/variables";

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;

  background: linear-gradient(0deg, rgba(12, 12, 12, 0.7), rgba(3, 3, 3, 0.4)),
    url("../../assets/Images/home-gb.svg") no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: $primary-color;
}

.content-container {
  margin: 6%;
  border-radius: 20px;
  background: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-card {
  display: flex;
  flex-direction: row;

  ul {
    color: #817474;
    margin-top: 10px;
  }
}
