<div class="main-container">
  <div class="content-container">
    <h1>Select Account Type</h1>
    <div class="radio-card">
      <a routerLink="/sign-up/client">
        <div class="content-header">Client</div>
        <div class="character">
          <img src="../assets/Images/Client.png" alt="Client">
        </div>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </a>
      <a routerLink="/sign-up/supplier">
        <div class="content-header">Supplier</div>
        <div class="character">
          <img src="../assets/Images/Supplier.png" alt="Supplier">
        </div>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </a>
    </div>
  </div>
</div>
