// colors
$primary-color: #181880;
$primary-color-light: #2d2d86;
$primary-color-light-transparent: #2d2d8650;
$primary-color-dark: #090934;

$secondary-color: #ff5722;
$secondary-color-light: #fc764b;
$secondary-color-dark: #b13a18;

//media queries
$media-query-tablet: 768px;
$media-query-mobile: 599px;
