<form>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Loan Account Number</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Bank Account Number</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Client Limit</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="double-input-container">
    <mat-form-field appearance="outline">
      <mat-label>Limit Validity From</mat-label>
      <input matInput maxlength="255" type="date" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Limit Validity To</mat-label>
      <input matInput maxlength="255" type="date" />
    </mat-form-field>
  </div>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Rate of Interest</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Credit Period</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="button-container">
    <div>
      <button (click)="goBack()" mat-flat-button>Previous</button>
    </div>
    <div>
      <button (click)="signUp()" mat-flat-button>Sign Up</button>
    </div>
  </div>
</form>
