spring.datasource.url=jdbc:oracle:thin:@localhost:1521:XE
spring.datasource.driverClassName=oracle.jdbc.driver.OracleDriver
spring.datasource.username=supplier-finance
spring.datasource.password=p@ssw0rd
spring.jpa.database-platform=org.hibernate.dialect.Oracle10gDialect
server.port=8088
spring.jpa.hibernate.ddl-auto=update
jwt.secret=supersecretjwt
jwt.validity=43200000
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=dfsdfsdf@gmail.com
spring.mail.password=dsfsdfsdfsdfdsf
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
otp.validity.time=15
seed.account.data=true
spring.env=prod
test.otp.seed=123456
