<form>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Credit Account Number</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Bank Code</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Supplier Limit</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="full-width-field2-container">
    <mat-form-field appearance="outline">
      <mat-label>Invoice Payment</mat-label>
      <input matInput maxlength="255" />
    </mat-form-field>
  </div>
  <div class="button-container">
    <div>
      <button mat-flat-button (click)="goBack()">Previous</button>
    </div>
    <div>
      <button (click)="signUp()" mat-flat-button>Sign Up</button>
    </div>
  </div>
</form>
