<form [formGroup]="userDataForm">
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput />
      <mat-error *ngIf="userDataForm.get('username')?.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="userDataForm.get('username')?.hasError('minLength')">
        must be at least 4 characters long
      </mat-error>
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
      <mat-error *ngIf="userDataForm.get('password')?.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="userDataForm.get('password')?.hasError('minLength')">
        must be at least 6 characters long
      </mat-error>
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirm_password" matInput type="password" />
      <mat-error
        *ngIf="userDataForm.get('confirm_password')?.hasError('notSame')"
      >
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </div>
  <div class="button-container button-container-end">
    <div>
      <button mat-flat-button (click)="confirmUserData()">Next</button>
    </div>
  </div>
</form>
