<form [formGroup]="userDataForm">
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirm_password" type="password" />
      <mat-error *ngIf="userDataForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </div>
  <div class="button-container">
    <div>
      <button mat-flat-button (click)="confirmUserData()">Next</button>
    </div>
  </div>
</form>
