<form>
  <h1>User Details</h1>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
  </div>
  <div class="button-container">
    <div>
      <button mat-flat-button>Next</button>
    </div>
  </div>
</form>
