@import "../../../styles/variables.scss";

.button-card {
  min-width: 250px;
  width: 400px;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  background: none;
  border: none;
  box-shadow: 0 0 5px $primary-color;

  cursor: pointer;

  .content-header {
    color: $primary-color;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    box-shadow: 0 0 15px rgb(0, 102, 182);
  }
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 125px;
    height: 175px;
  }
}
