@use "src/styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.content-container {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 0% auto;
  padding: 10px;
  width: 80%;
}

.row-hd {
  margin-top: 20px;
  color: variables.$primary-color;
  font-weight: bolder;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}

.main-header-container {
  display: flex;
  width: 100%;

  h1 {
    font-weight: bold;
    color: variables.$primary-color;
    font-size: 2.4em;
    margin-bottom: 0.2em;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.invoice-number-container {
  margin-left: auto;

  font-weight: bold;
  color: variables.$gray-color;
}

.left-container {
  left: 0;
  width: 50%;
}

.right-container {
  right: 0;
  width: 50%;
}

.download-button-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.invoice-detail-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 400px;
}

.single-detail {
  display: flex;
  margin-bottom: 30px;
}

.detail-heading {
  font-size: 1.6rem;
  font-weight: bold;
  width: 250px;
}

.detail-content {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: #4b4444;
}

.back-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.action-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  width: 100%;
}

@media only screen and (max-width: variables.$media-query-tablet) {
  .content-container {
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    min-width: 0;
  }

  .invoice-detail-container {
    width: 90%;
  }

  .detail-heading {
    font-size: 1.5rem;
    width: 200px;
  }

  .detail-content {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: variables.$media-query-mobile) {
  .content-container {
    border-radius: 15px;
    padding: 5px;
    width: 100%;
  }

  .invoice-detail-container {
    width: 90%;
  }

  .detail-heading {
    font-size: 1.3rem;
    width: 200px;
  }

  .detail-content {
    font-size: 1.4rem;
  }
}
