<div class="content-container">
  <div class="body-container">
    <div class="header-container">
      <div class="main-header-container">
        <h1>INVOICE</h1>
        <div class="invoice-number-container">
          <h1>#{{ dataSource[0].invoiceNumber | invoiceNumberFormat }}</h1>
        </div>
      </div>
      <h3 class="date">{{ dataSource[0].invoiceDate | date: "dd/MM/yyyy" }}</h3>
    </div>

    <div class="button-container">
      <button color="primary" mat-raised-button>Back</button>
    </div>
  </div>
</div>
