@use "src/styles/variables";

.content-container {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 0% auto;
  padding: 10px;
  width: 80%;
}
.row-hd{
  color: variables.$primary-color;
  font-weight: bolder;
}
.header-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}

.main-header-container {
  display: flex;
  width: 100%;

  h1 {
    font-weight: bold;
    color: variables.$primary-color;
    font-size: 2.4em;
    margin-bottom: 0.2em;
  }
}
.body-container{
  margin: 20px;
}
.invoice-number-container {
  margin-left: auto;

  h1 {
    font-weight: bold;
    color: variables.$gray-color;
  }
}

.date {
  font-weight: bold;
  color: variables.$gray-color;
  font-size: 1.2em;
}

.table-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  left: 0;
  width: 50%;
}

.right-container {
  right: 0;
  width: 50%;
}

.download-button-container {
  margin-top: 2em;
  margin-bottom: 2em;
}
