<div class="content-container">
  <div class="body-container">
    <div class="header-container">
      <div class="main-header-container">
        <h1>INVOICE</h1>
        <div class="invoice-number-container">
          <h1>#{{ invoice?.invoiceNumber }}</h1>
        </div>
      </div>
      <h3 class="date">{{ invoice?.invoiceDate | date: "dd/MM/yyyy" }}</h3>
    </div>
    <div *ngIf="invoice" class="download-button-container">
      <a href="{{ SERVER }}{{ invoice.fileUrl }}">
        <button color="primary" mat-raised-button>Download File</button>
      </a>
    </div>
    <div class="table-container">
      <div class="left-container">
        <h1>Customer Details:</h1>
        <h2>Id: {{ invoice?.client?.clientId }}</h2>
        <h2>Name: {{ invoice?.client?.name }}</h2>
      </div>
      <div class="right-container">
        <h1>Supplier Details:</h1>
        <h2>Id: {{ invoice?.supplier?.supplierId }}</h2>
        <h2>Name: {{ invoice?.supplier?.name }}</h2>
      </div>
    </div>

    <div *ngIf="!edit || userTypeApiPath === 'SUPPLIER'" class="">
      <h1>Status: {{ invoice?.status }}</h1>
      <h1>
        Amount:
        {{ invoice?.amount | currency: invoice?.currencyType }}
      </h1>
    </div>

    <div *ngIf="edit && userTypeApiPath !== 'SUPPLIER'">
      <form [formGroup]="invoiceForm">
        <div class="input-container">
          <mat-form-field *ngIf="userTypeApiPath === 'BANK'" appearance="outline">
            <mat-label>Status*</mat-label>
            <mat-select formControlName="status">
              <mat-option value="IN_REVIEW">IN_REVIEW</mat-option>
              <mat-option value="APPROVED">APPROVED</mat-option>
              <mat-option value="REJECTED">REJECTED</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="multi-input-container">
            <div class="long-input">
              <mat-form-field *ngIf="userTypeApiPath === 'CLIENT'" appearance="outline">
                <mat-label>Amount*</mat-label>
                <input formControlName="amount" matInput type="text"/>
                <mat-error
                  *ngIf="invoiceForm.get('amount')?.getError('required')"
                >
                  Amount is required
                </mat-error>
                <mat-error
                  *ngIf="invoiceForm.get('amount')?.getError('min')"
                >
                  Amount cannot be less than 0
                </mat-error>
                <mat-error
                  *ngIf="invoiceForm.get('amount')?.getError('pattern')"
                >
                  Amount can only include numeric values.
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currencyType">
                  <mat-option value="USD">USD</mat-option>
                  <mat-option value="GBP">GBP</mat-option>
                  <mat-option value="EUR">EUR</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="button-container">
      <button color="primary" mat-stroked-button>Back</button>
      <button *ngIf="edit && userTypeApiPath !== 'SUPPLIER'" style="float: right" color="primary" mat-stroked-button
              (click)="onClickSave()">Save
      </button>
    </div>
  </div>
</div>
