@import "../../../../styles/variables";

li {
  list-style: none;
  height: 100%;
}

a {
  font-size: 1.2em;
  color: white;
  letter-spacing: 1px;

  &:visited {
    color: white;
  }
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 2px solid #ffffff00;
}

.active-link {
  background: $primary-color;
}

@media only screen and (max-width: $media-query-tablet) {
  li {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.1em;
    margin-right: 0;
    padding: 15px;

    font-weight: bolder;
  }

  .active-link {
    background: none;
    padding-bottom: 15px;
    border-bottom: 2px solid $secondary-color-dark;
  }
}
