<form [formGroup]="personalDataForm">
  <div class="double-input-container">
    <mat-form-field appearance="outline" class="left-input-field">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error
        *ngIf="personalDataForm.get('firstName')?.hasError('required')"
      >
        required
      </mat-error>
      <mat-error
        *ngIf="
          personalDataForm.get('firstName')?.hasError('minlength') ||
          personalDataForm.get('firstName')?.hasError('maxlength')
        "
      >
        must be between 3 - 30 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="personalDataForm.get('lastName')?.hasError('required')">
        required
      </mat-error>
      <mat-error
        *ngIf="
          personalDataForm.get('lastName')?.hasError('minlength') ||
          personalDataForm.get('lastName')?.hasError('maxlength')
        "
      >
        must be between 3 - 30 characters
      </mat-error>
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="personalDataForm.get('email')?.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="personalDataForm.get('email')?.hasError('email')">
        not a valid email address
      </mat-error>
      <mat-error *ngIf="personalDataForm.get('email')?.hasError('maxlength')">
        must be less than 255 characters
      </mat-error>
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="personalDataForm.get('phone')?.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="personalDataForm.get('phone')?.hasError('pattern')">
        not a valid phone number
      </mat-error>
    </mat-form-field>
  </div>
  <div class="full-width-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Address Line1</mat-label>
      <input matInput formControlName="addressLine1" />
      <mat-error
        *ngIf="personalDataForm.get('addressLine1')?.hasError('required')"
      >
        required
      </mat-error>
      <mat-error
        *ngIf="personalDataForm.get('addressLine1')?.hasError('maxLength')"
      >
        must be less than 500 characters
      </mat-error>
    </mat-form-field>
  </div>
  <div class="double-input-container">
    <mat-form-field appearance="outline" class="left-input-field">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
      <mat-error *ngIf="personalDataForm.get('city')?.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="personalDataForm.get('city')?.hasError('maxLength')">
        must be less than 255 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <input matInput formControlName="state" />
      <mat-error *ngIf="personalDataForm.get('state')?.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="personalDataForm.get('state')?.hasError('maxLength')">
        must be less than 255 characters
      </mat-error>
    </mat-form-field>
  </div>
  <div class="double-input-container">
    <mat-form-field appearance="outline" class="left-input-field">
      <mat-label>Province</mat-label>
      <input matInput formControlName="province" />
      <mat-error *ngIf="personalDataForm.get('province')?.hasError('required')">
        required
      </mat-error>
      <mat-error
        *ngIf="personalDataForm.get('province')?.hasError('maxLength')"
      >
        must be less than 255 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input formControlName="country" matInput/>
      <mat-error *ngIf="personalDataForm.get('country')?.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="personalDataForm.get('country')?.hasError('maxLength')">
        must be less than 255 characters
      </mat-error>
    </mat-form-field>
  </div>
  <div class="button-container">
    <div>
      <button (click)="goBack()" mat-flat-button>Previous</button>
    </div>
    <div>
      <button mat-flat-button (click)="confirmPersonalData()">Next</button>
    </div>
  </div>
</form>
