@import "src/styles/variables";

.title-panel {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 30px;

  h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
    color: $primary-color-dark;
  }
}
