<div class="invoiceInfo">
    <div class="totalInvoice info" style="color: rgb(255, 153, 0);">
        <p>Total Invoice</p>
        <p class="number">{{numberOfInvoice}}</p>
        <p><i class="fas fa-file-invoice"></i></p>
    </div>
    <div class="totalInvoiceUploaded info" style="color: rgb(0, 132, 255);">
        <p>Total Uploaded</p>
        <p class="number">{{statusUploaded.length}}</p>
        <p><i class="fas fa-file-upload"></i></p>
    </div>
</div>

<div class="invoiceInfo">

    <div class="statusAPPROVED info" style="color: rgb(0, 172, 23);">
        <p>Total Approved</p>
        <p class="number">{{statusAPPROVED.length}}</p>
        <p><i class="fas fa-clipboard-check"></i></p>
    </div>
    <div class="statusREJECTED info" style="color: rgb(245, 0, 0);">
        <p>Total Rejected</p>
        <p class="number">{{statusREJECTED.length}}</p>
        <p><i class="fas fa-trash-alt"></i></p>
    </div>
</div>

