<div class="invoiceInfo">
  <div class="totalInvoice info" style="color: rgb(255, 153, 0)">
    <p>Total Uploaded Invoices</p>
    <p class="number">{{ uploadedCount }}</p>
    <p><i class="fas fa-file-invoice"></i></p>
  </div>
  <div class="totalInvoiceUploaded info" style="color: rgb(0, 132, 255)">
    <p>Total Invoices in Review</p>
    <p class="number">{{ inReviewCount }}</p>
    <p><i class="fas fa-file-upload"></i></p>
  </div>
</div>

<div class="invoiceInfo">
  <div class="statusAPPROVED info" style="color: rgb(0, 172, 23)">
    <p>Total Approved Invoices</p>
    <p class="number">{{ approvedCount }}</p>
    <p><i class="fas fa-clipboard-check"></i></p>
  </div>
  <div class="statusREJECTED info" style="color: rgb(245, 0, 0)">
    <p>Total Rejected Invoices</p>
    <p class="number">{{ rejectedCount }}</p>
    <p><i class="fas fa-trash-alt"></i></p>
  </div>
</div>
