@import "src/styles/variables";

.logo-container {
  width: 20%;
  min-width: 200px;
  display: flex;
  align-items: center;

  svg {
    height: 35px;
    width: 35px;

    path {
      fill: $secondary-color;
    }
  }
}

.title-container {
  margin-left: 10px;

  h1 {
    letter-spacing: 2px;
    transform: translateY(25%);
    font-weight: bold;
    color: white;
  }
}

.dark-title {
  h1 {
    color: $primary-color-dark;
  }
}
