<div class="left-panel">
  <div class="user-container">
    <div class="user-avatar">
      {{ user?.username?.split("")?.slice(0, 2)?.join("")?.toUpperCase() }}
    </div>
    <div class="user-name">{{ user?.username }}</div>
    <div class="user-action-container">
      <button
        mat-icon-button
        matTooltip="User Settings"
        routerLink="/user/settings"
        routerLinkActive="nav-button-active"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Sign Out" (click)="signOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <div class="nav-container">
    <button
      mat-button
      class="nav-button"
      routerLink="/dashboard"
      routerLinkActive="nav-button-active"
    >
      Dashboard
    </button>
    <button mat-button class="nav-button">Invoices</button>
    <button mat-button class="nav-button">Something</button>
  </div>
</div>
