<div class="left-panel">
  <div class="user-container">
    <div class="user-avatar">
      {{ user?.username?.split("")?.slice(0, 2)?.join("")?.toUpperCase() }}
    </div>
    <div class="user-name">{{ user?.username }}</div>
    <div class="user-action-container">
      <button
        mat-icon-button
        matTooltip="User Settings"
        routerLink="/user/settings"
        routerLinkActive="nav-button-active"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Sign Out" (click)="signOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <div class="nav-container">
    <app-nav-link icon="dashboard" link="/dashboard" title="Dashboard">
    </app-nav-link>
    <app-expandable-nav-link title="Invoices">
      <app-nav-link
        icon="note_add"
        link="/invoice/upload"
        title="Upload Invoice"
      >
      </app-nav-link>
      <app-nav-link
        icon="assignment"
        link="/view-invoices"
        title="View Invoices"
      >
      </app-nav-link>
    </app-expandable-nav-link>
  </div>
</div>
