@import "src/styles/variables";

.left-panel {
  min-height: 100%;
  width: 5em;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: $primary-color-dark;
  color: white;

  hr {
    border-bottom-width: 3px;
  }

  transition: all ease 200ms;
}

.left-panel-expanded {
  display: flex;
  width: 20vw;
  min-width: 18em;
}

.menu-button-container {
  button {
    color: white;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.nav-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav-button {
  padding: 1em 1em;
  text-align: left;
  font-size: 1.2rem;
}

.nav-button-active {
  background: $primary-color-light-transparent;
}

.show-only-on-mobile {
  display: none;
}

@media only screen and (max-width: $media-query-tablet) {
  .show-only-on-mobile {
    display: flex;
  }

  .left-panel {
    position: absolute;
    left: -100px;
  }

  .left-panel-expanded {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 20em;
  }
}
