<div class="section left-section">
  <img src="./assets/Images/login-bg.png" alt="login image">
</div>
<div class="section right-section">
  <div class="header-section">
    <h1>Sign in</h1>
  </div>
  <div class="div-components">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput label="username" [(ngModel)]="signInData.username" required #name='ngModel'>
        <mat-icon matPrefix>person_outline</mat-icon>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">username is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput [type]="isPasswordVisible ? 'password' : 'text'" label="password" [(ngModel)]="signInData.password" required #name='ngModel'>
        <button mat-icon-button matSuffix (click)="isPasswordVisible = !isPasswordVisible" [attr.aria-label]="'Hide password'" >
          <mat-icon>{{isPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">password is required</mat-error>
      </mat-form-field>
    </div>
    <div class="forget-section">
      <a href="#">Forget Password?</a>
    </div>
    <div>
      <button mat-flat-button (click)="handleSignInClick()">Sign In</button>
    </div>
    <div class="new-account-section">
      <a routerLink="../sign-up/client" routerLinkActive="active">Don't have an account yet? Sign Up</a>
    </div>
  </div>
</div>

