.root-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.content-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 75vw;
  height: 75vh;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
	rgba(0, 0, 0, 0.22);
}

.section {
  height: 100%;
}

.left-section {
  width: 55%;
  background-image: linear-gradient(to right, rgb(0, 139, 253),
  rgb(0, 84, 194));
  text-align: center;
  color: white;
}
.left-section{
  font-size: 16px;
  padding: 5px;
}
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-width: 400px;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;

  h1 {
    width: 100%;
    font-size: 2.5em;
    color: #181880;
    font-weight: bold;
  }
}

.form-content-container {
  display: block;
  justify-content: center;
  padding: 2%;

  button,
  mat-form-field {
    appearance: mat-color(#181880);
    outline: #181880;
    width: 320px;
  }

  mat-form-field {
    color: #181880;
  }

  button {
    background: #181880;
    color: white;
  }
}

.isVisible-Point {
  &:hover {
    cursor: pointer;
  }
}

.forget-section {
  padding-top: 2%;
  padding-bottom: 5%;

  a {
    color: #817474;
  }
}

.new-account-section {
  padding: 10% 0;

  a {
    font-weight: bold;
  }
}

.mat-card-warning {
  display: flex;
  align-items: center;
  color: #d50000;
  background: #ffebee;
  width: 110%;
  margin-left: -15px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  mat-icon {
    margin-right: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .left-section {
    display: none;
  }

  .content-container {
    width: 90vw;
    height: 90vh;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
  }
}

@media only screen and (max-width: 599px) {
  .left-section {
    display: none;
  }

  .content-container {
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 500px;
    padding: 10px;
    justify-content: center;
    border-radius: 0;

    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.99),
        rgba(255, 255, 255, 0.95)
      ),
      url("../../assets/Images/home-gb.svg") no-repeat;
    background-size: cover;
    overflow: auto;
  }

  .right-section {
    min-width: 400px;
  }

  .header-section {
    height: 35vh;
    max-height: 150px;
  }
}
