<div class="root">
  <app-invoice-filter-button
    [currentSelection]="selectedStatusType"
    [setFilterType]="setFilterType"
    type="Uploaded"
  >
    Upload
  </app-invoice-filter-button>
  <app-invoice-filter-button
    [currentSelection]="selectedStatusType"
    [setFilterType]="setFilterType"
    type="InReview"
  >
    In Review
  </app-invoice-filter-button>
  <app-invoice-filter-button
    [currentSelection]="selectedStatusType"
    [setFilterType]="setFilterType"
    type="Completed"
  >
    Completed
  </app-invoice-filter-button>
  <app-invoice-filter-button
    [currentSelection]="selectedStatusType"
    [setFilterType]="setFilterType"
    type="Rejected"
  >
    Rejected
  </app-invoice-filter-button>
  <app-invoice-filter-button
    [currentSelection]="selectedStatusType"
    [setFilterType]="setFilterType"
    type="ALL"
  >
    All
  </app-invoice-filter-button>
</div>

<!--<button-->
<!--  mat-button-->
<!--  [class.mat-flat-button]="myVote === 'UPVOTE'"-->
<!--  color="primary"-->
<!--  (click)="onVote(myVote === 'UPVOTE'? 'NONE' :'UPVOTE')"-->
<!--&gt;-->
<!--  UPVOTE-->
<!--</button>-->
