<div>
  <form [formGroup]="uploadInvoiceForm">
    <div class="content-container">
      <div class="title-container"><h1>Upload Invoice</h1></div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Client Id</mat-label>
          <input [value]="clientId" disabled matInput />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Supplier Id</mat-label>
          <input
            (change)="checkSupplierId()"
            formControlName="supplierId"
            matInput
            oninput="this.value = this.value.toUpperCase()"
          />
          <mat-icon *ngIf="supplierIdIsValid" class="valid-icon" matSuffix
            >done
          </mat-icon>
          <mat-error
            *ngIf="uploadInvoiceForm.get('supplierId')?.getError('invalid')"
          >
            Invalid supplier id
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Invoice Number</mat-label>
          <input formControlName="invoiceNumber" matInput />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Invoice Date</mat-label>
          <input formControlName="invoiceDate" matInput type="date" />
          <mat-error
            *ngIf="uploadInvoiceForm.get('invoiceDate')?.getError('invalid')"
          >
            Invoice date has to be a future date
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <div class="multi-input-container">
          <div class="long-input">
            <mat-form-field appearance="outline">
              <mat-label>Invoice Amount</mat-label>
              <input formControlName="invoiceAmount" matInput type="number" />
              <mat-error
                *ngIf="uploadInvoiceForm.get('invoiceAmount')?.getError('min')"
              >
                Invoice amount cannot be less than 0
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Currency</mat-label>
              <mat-select formControlName="currency">
                <mat-option value="USD">USD</mat-option>
                <mat-option value="GBP">GBP</mat-option>
                <mat-option value="EUR">EUR</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="input-container">
        <input
          #fileInput
          (change)="validateFile($event)"
          accept=".pdf,.jpg,.png,.jpeg"
          class="file-input"
          formControlName="invoiceFile"
          type="file"
        />
        <div class="file-input-container">
          <button
            (click)="fileInput.click()"
            color="primary"
            mat-stroked-button
            type="button"
          >
            Select Invoice
          </button>
          <div>
            {{
              selectedFile
                ? selectedFile.fileName + " (" + selectedFile.size + " KB)"
                : "no file selected"
            }}
          </div>
        </div>
      </div>
      <div class="input-container">
        <div class="file-input-container">
          <mat-error
            *ngIf="
              uploadInvoiceForm.get('invoiceFile')?.touched &&
              uploadInvoiceForm.get('invoiceFile')?.getError('required')
            "
            >invoice file is required
          </mat-error>
          <mat-error
            *ngIf="uploadInvoiceForm.get('invoiceFile')?.getError('size')"
            >File cannot be larger that 1MB
          </mat-error>
        </div>
      </div>
      <div class="submit-button-container">
        <button (click)="createInvoice()" color="primary" mat-raised-button>
          Upload
        </button>
      </div>
    </div>
  </form>
</div>
