// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "../node_modules/@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$capstone-client-primary: mat-palette($mat-indigo);
$capstone-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$capstone-client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$capstone-client-theme: mat-light-theme(
  (
    color: (
      primary: $capstone-client-primary,
      accent: $capstone-client-accent,
      warn: $capstone-client-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($capstone-client-theme);

//import bootstrap grid system
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  background-color: rgb(240, 240, 240);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 599px) {
  body {
    overflow-x: hidden;
  }
}
